.h11{
    margin: 30px 0;
    text-align: center;
    text-decoration: overline;
}

.h22{
    transition: all 3s; 

&:hover {
    color: black;
    background-color:rgb(225, 146, 143)
}
}

.h22{
    margin: 20px;
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:lighter;
    text-align: justify;
}

.arriba{
    padding-top: 20px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius:10px;
    background-color: rgb(176, 236, 216);
    color: black;
}

.pallete{
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    background-color: rgb(176, 236, 216);
    color: black;
    border-radius:10px;
}