body{
    font-family: 'Oswald', sans-serif;
    background-color: rgb(232, 242, 219);
}

header{
    font-size: 18px;
    display:inline-flex;
    margin: 20px;
}

.logo{
    padding: 20px;
}

    .main-menu li{
        text-decoration: none;
        transition: 0.3s;
        position:right;
        margin-top: 50px;
    }

        .main-menu__item li{  
            position: right;
            margin: 20px;
            padding: 10px;
            text-decoration: none;
            width: 100%;
        }

    .menu__link{
        color: rgb(0, 0, 0);
        background-color: rgb(232, 198, 198);
        text-decoration: none;
        width: 100%;
        padding: 10px;
        margin: 10px;
        border: radius 150px;
    }

    .menu__link:hover{
        position: right;
        background-color: black;
        color: rgb(224, 213, 213);
        border-radius: 10px;
        text-align: center;
        text-decoration: none;
    }